@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}

.logo {
  height: 45px;
  width: 110px;
}

.welcome {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.welcomeLogo {
  width: 600px;
  display: block;
  margin-left: auto;
  padding-right: 50px;
}

.choices {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  margin-top: 60px;
  font-size: 15pt;
}

.choice{
  padding-right: 20px;
  padding-left: 12px;
  padding-top: 40px;
}

.sayWelcome {
  margin-top: 80px;
  margin-left: 70px;
  font-size: 72pt;
}

.vertical {
  height: 200px;
  border-left: 1px solid #b3b3b3;
}

.btn {
  border-radius: 20px;
  border-width: 1px;
  background-color: #2b7a78;
  width: 100px;
  height: 35px;
  color: #ffffff;
  font-weight: bold;
  border-color: #7a7f80;
  margin-left: 10px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #26726f;
}
