@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
  margin-right: 30px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  font-size: 13pt;
  
}

.navbar a:hover {
  color: #3aafa9;
}

.logo {
  margin-left: 30px;
  height: 40px;
  width: 100px;
}


.welcome {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.welcomeLogo {
  width: 600px;
  display: block;
  margin-left: auto;
  padding-right: 50px;
}

.choices {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  margin-top: 60px;
  font-size: 15pt;
}

.choice{
  padding-right: 20px;
  padding-left: 12px;
  padding-top: 40px;
}

.sayWelcome {
  margin-top: 80px;
  margin-left: 70px;
  font-size: 72pt;
}

.vertical {
  height: 200px;
  border-left: 1px solid #b3b3b3;
}

.btn {
  margin-left: 15px;
  margin-top: 20px;
  width: 150px;
}

