.accountContainer {
    width: 60%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 10%;
}

.accountContainer h2 {
    margin-bottom: 2.5%;
    font-weight: bold;
}

.accountContainer p:first-child {
    font-weight: bold;
    width: 15%;
}

.accountContainer p:nth-child(2) {
    color: rgb(122, 122, 122);
    width: 85%;
}

.accountContainer button {
    border: none;
    background-color: transparent;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(74, 145, 226);
}

.accountContainer button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.accountContainer div {
    display: flex;
    flex-direction: row;
    margin: 5px 5px 5px 5px;
    padding: 15px 10px 15px 10px;
}

.accountContainer div:hover {
    background-color: rgba(235, 235, 235, 0.507);
}

.editContainer {
    background-color: rgba(235, 235, 235, 0.507);;
}

.editContainer input {
    width: 50%;
    height: 30px;
    padding: 3px 3px 3px 10px;
    font-size: 12pt;
}

.editContainer input:focus {
    outline: none !important;
    border:1px solid rgb(81, 91, 100);
    box-shadow: 0 0 2px #6a7581;
}

.editContainer button {
    margin-left: 30px;
}

.editContainer button:hover {
    text-decoration: none;
}

.editContainer button:first-of-type:hover {
    color: rgb(212, 101, 81);
}

.editContainer button:nth-of-type(2):hover {
    color: rgb(158, 158, 158);
}

.editContainer p {
    color: tomato;
    margin-top: 1%;
    margin-right: 5%;
}

.emailError {
    font-size: 10pt;
    color: rgb(223, 52, 52);
    margin-left: 5px;
}


